<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<h1>Velkommen til CPHBusiness Secondhand Superstore</h1>

<p>Please log in</p>
<form method="post">
    <label for="name">Username</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="password">Password</label><br>
    <input type="text" id="password" name="psw"><br>
    <button type="submit" formaction="/login">Log in</button>
</form>

<span th:text="${msg}"></span>
</body>
</html>
